extends layout

block content
  .row
    p This is your
      h1 profile
  p Username: #{username}
  p First name: #{firstName}
  p Last name: #{lastName}
  p Organization: #{myOrg}
  p Position: #{myPosition}
  p Phone: #{myPhone}
  p Address: #{myAddress}
  p Email: #{email}
  p #{myAddressTwo}
  p #{myTown}, #{myState} #{myZip}